body {
    margin: 0;
    font-family: 
        'BlinkMacSystemFont',
        'Segoe UI',
        'Roboto',
        'Oxygen',
        'Ubuntu',
        'Cantarell',
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
}

.navigation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    padding: 0 5%;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation ul {
    list-style: none;
    padding: 0;
    color: white;
}

.navigation ul li:hover {
    cursor: pointer;
}

.navigation a {
    text-decoration: none;
}

main {
    display: flex;
    margin: 56px;
    max-height: calc(100vh - 56px);
}

.leftContent {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    align-items: center;
    background-color: #282c34;
    height: calc(100vh - 56px);
}

.leftContent img {
    width: 40%;
}

.leftContent form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    width: 50%;
    height: 200px;
    margin: 50px auto 0 auto;
    background: #333;
    padding: 1.5em;
}

.leftContent form div {
    display: flex;
    flex-direction: column;
}

.leftContent form .formTitle, .leftContent form .formLabel {
    margin: 0;
    color: white;
}

.leftContent form input {
    padding: 5px;
    border-radius: 5px; 
    border: none;
    margin-top: 0.2em;
}

.leftContent form button {
    margin-top: 1em;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #61dafb;
    color: black;
}

.rightContent {
    background: #61dafb;
    height: calc(100vh - 56px);
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.rightContent .linkCard {
    background: #333;
    width: 60%;
    display: flex;
    margin-top: 50px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.rightContent .linkCardImage {
    background-size: cover;
    background-position: center;
    height: 100px;
    width: 100px;
}

.rightContent .linkCardLink {
    margin-left: 10px; 
}

 .rightContent .linkCardLink h2 a {   
    color: white;
 }